.payment {
        background-color: #f2f2f2;
        color: #1F363C;
}

.payment_container  h1 {
        text-align: center;
        padding: 10px;
        font-weight: 400;
        background-color: #E0E0E0;
        border-bottom: 1px solid #BDBDBD;
  }

.payment_container  h1 a {
        text-decoration: none;
}

.payment_section {
        display: flex;
        padding: 20px;
        margin: 0 20px;
        border-bottom: 1px solid lightgray;
}

.payment_title {
        flex: 0.2;
}

.payment_address, .payment_items, .payment_details {
        flex: 0.8;
        padding-top: 10px;
}
  
.payment_details  form {
        max-width: 400px;
}

.payment_details  h3 {
        padding-bottom: 20px;
        padding-top: 10px;
}


.payment_details  form  div  button {
        background: #30C5FF;
        border-radius: 2px;
        width: 100%;
        height: 30px;
        border: 1px solid;
        font-weight: bolder;
        margin-top: 10px;
        border-color: #30C5FF ;
        color: #1F363C;
        cursor: pointer;
}


        /* Mobile Version */

@media (max-width: 500px){
      
        .payment_section {
                flex-direction: column;
                flex-wrap: wrap;
                padding: 20px;
                margin: 0 20px;
        }

        .payment_title {
                align-self: center;
                text-align: center;
                width: 100%;
        }

        .payment_address{
                align-self: center;
                text-align: center;
                width: 100%;
        }
        

}

