.product {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin: 10px;
      padding: 20px;
      width: 100%;
      max-height: 400px;
      min-width: 100px;
      background-color: #f2f2f2;
      color: #1F363C;
      z-index: 1;
  }
  
  .product_rating {
      display: flex;
      color: #E7E248;
  }
  
  .product  img {
      max-height: 200px;
      width: 100%;
      object-fit: contain;
      margin-bottom: 15px;
  }
  
  .product  button {
        background: #30C5FF;
        border: 1px solid;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-color: #30C5FF;
        color: #1F363C;
  }
  
  .product_price {
        margin-top: 5px;
  }
  
  .product_info {
        height: 100px;
        margin-bottom: 15px;
  }

  .product button:hover{
        background-color: #2589BD;
        color: #f2f2f2;
  }


      /* Mobile Version */

@media (max-width: 640px){
      .product{
            max-height: 430px;
      }
      .product_info{
            height: 140px;
      }
}

@media (max-width: 451px){
      .product{
            padding: 0px;
            padding-top: 15px;
            padding-bottom: 15px;
            flex-wrap: wrap;
            margin: 0px;
            min-width: 451px;
            flex-wrap: wrap;
      }

      .product_info{
            height: 110px;
      }
}

@media (max-width: 412px){
      .product{
            min-width: 412px;
      }
}

@media (max-width: 393px){
      .product{
            min-width: 393px;
      }
}

@media (max-width: 360px){
      .product{
            min-width: 360px;
      }
}
      
          



